#Canvas{
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
}

.App {
  width: 260px;
  height: 160px;
  border: 2px solid #949494;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Title{
  flex-grow: 2;
}

#Counter-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 3;
}

.Button{
  flex-grow:1;
}

.Count{
  flex-grow:2;
}